{% extends 'layout.html' %}

{% block body %}

<h1>キーワード詳細</h1>

<table class="table">
    <thead>
        <tr>
            <th>キーワードID</th>
            <th>キーワード</th>
            <th>作成日時</th>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>ツイートID</th>
            <th>ツイート内容</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>#TECHCAMP</td>
            <th>2017-04-01</th>
            <td>@never_be_a_pm</td>
            <td>DAI</td>
            <td>1736548393</td>
            <td><textarea>めっちゃくちゃ成長した気がする #TECHCAMP</textarea></td>
          </tr>
    </tbody>
</table>



{% endblock %}
