{% extends 'layout.html' %}

{% block body %}

<h1>「{{query[0]}}」でいいねしたツイート一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>作成日時</th>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>ツイートID</th>
            <th>ツイート内容</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
      {% for row in queryList %}
        <tr>
            <th>{{row[2]}}</th>
            <td>{{row[3]}}</td>
            <th>{{row[4]}}</th>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
          </tr>
      {% endfor %}
    </tbody>
</table>



{% endblock %}
