{% extends 'layout.html' %}

{% block body %}

<h1>「{{query[0]}}」の統計情報 </h1>

<form action="/setCrontab" method="post">
  <div class="form-group">
    <label for="query">検索キーワード</label>
    <input type="text" class="form-control" id="query" name="query" placeholder="ここにキーワードを入力">
    <label for="cron">CRONTAB</label>
    <input type="text" class="form-control" id="query" name="cron" placeholder="ここにCRONTABを入力">
  </div>
  <button type="submit" class="btn btn-default">登録する</button>
</form>

<h1>「{{query[0]}}」の統計情報 </h1>

<table class="table">
  <thead>
    <tr>
      <th>いいねしたユーザー数</th>
      <th>フォローバック数</th>
      <th>フォローバック率</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h1>「{{query[0]}}」でいいねしたツイート一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>作成日時</th>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>ツイートID</th>
            <th>ツイート内容</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
      {% for row in queryList %}
        <tr>
            <th>{{row[2]}}</th>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
          </tr>
      {% endfor %}
    </tbody>
</table>



{% endblock %}
